.dyplayer-container
  width 100%
  height 100%
  position relative
  .dyplayer-video
    height 100%
  .dyplayer-controls
    height 100%
    position absolute
    top 0
    left 0
    width 100%
    .dyplayer-play-btn
      background-image url('../icons/play.png')
      height 80px
      width 80px
      background-size 100%
      left 50%
      position absolute
      top 50%
      transform: translate(-50%, -50%)
